

<div style="width:100%;margin-bottom:5px;"class="well">
<span  style="height:auto;font-weight:600;font-size:14px;">DashBoard</span>
<button class="btn btn-sm btn-danger glyphicon glyphicon-print" style="padding-bottom:7px;float:right;margin-top:-4px;display:inline;margin-right:5px;"> </button>
<p class="input-group" style="float:right;font-size:13px;margin-right:5px;width:100px;">
                <span class="input-group-addon" >from</span>
                <input type="date" class="input-sm form-control" name="start"   />
                <span class="input-group-addon">to</span>
                <input type="date" class="input-sm form-control" name="end"  />
            </p>

</div>

<div style="width:100%;height:auto;float:left;padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);" >
<span style="font-weight:400;font-size:12px;float:right;">Employee Name&nbsp;
<label>Aditi P.</label>
</span>
<span style="font-weight:400;font-size:12px;float:right;margin-right:13px;">Employee Id&nbsp;
<label>4033</label></span>
<span style="float:left;font-weight:bold">Week No:</span><div id="weekNo" style="float:left;"></div>
<div class="table-responsive" style="width:100%;float:left;">
      
      
      <table datatable="" class="row-border hover">
		    <thead>
		    <tr>
		        <th><span style="margin-right:-30px;">Sr No.</span></th>
                <th><span style="margin-right:10px;">Date</span></th>
                <th><span style="margin-right:-30px;">Hours</span></th>
                <th><span style="border:none;margin-right:-50px;">Approval Status</span></th>
                <th></th>
                <th><span>Actions</span></th>
		    </tr>
		    </thead>
		       <tbody>
				<tr style="background-color:#fcf8e3;" ng-repeat="day in weekDays" >
					<td style="width:8%;"><a ui-sref="customer.detail({id:customer.id})"></a>1</td>
					<td style="width:20%;"> {{day}}</td>
					<td style="width:8%;">7</td>
					<td style="width:15%;">Pending</td>
					<td style="width:20%;"> 
					<span class="label label-success"  ng-click="setWorking()" 
                         style="cursor: pointer;">Working</span>
                     <span class="label label-danger" ng-click="setLeave()"  ng-show="!user.activated"
                         style="cursor: pointer;">Holiday</span>
                         <span class="label label-warning" ng-click="setLeave()"  ng-show="!user.activated"
                         style="cursor: pointer;">Leave</span>    
                         
                         </td>
					
					<td>
                           
						<button type="submit" id="timesheetbtn"
							class="btn btn-success btn-sm" ng-click="redirectToTimesheet()">
							<span class="glyphicon glyphicon-time"></span> <span
								class="hidden-xs hidden-sm">Timesheet</span>
						</button>	
							
						<button type="submit" id="dtlsbtn"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
						<button type="submit" id="editbtn"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
					</td>
					
				<!-- </tr>
						<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>2</td>
					<td>13-2-2015</td>
					<td>0</td>
					<td>Holiday</td>
					<td>
                      <button type="submit"
							class="btn btn-success btn-sm" ng-click="redirectToTimesheet()">
							<span class="glyphicon glyphicon-time"></span> <span
								class="hidden-xs hidden-sm">Timesheet</span>
						</button>	
						<button type="submit" ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
					</td>
				</tr>
						<tr style="background-color:#FFCDCD;">
					<td><a ui-sref="customer.detail({id:customer.id})"></a>3</td>
					<td>14-2-2015</td>
					<td>40</td>
					<td >
					<span style="background-color:#FF7979;border:1px solid #F11111;padding:5px;border-radius:3px;">
					Not Approved
					</span>
					
					</td>
					<td>
						<button type="submit" 
							class="btn btn-success btn-sm" ng-click="redirectToTimesheet()">
							<span class="glyphicon glyphicon-time"></span> <span
								class="hidden-xs hidden-sm">Timesheet</span>
						</button>	
						<button type="submit" ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
					</td>
				</tr> -->
				
			</tbody>
	</table>
      
      
       <!--  <table class="jh-table table table-striped" style="font-size:13px;">
            <thead>
                <tr>
                    <th><span>Sr No.</span></th>
                    <th><span >Date</span></th>
                    <th><span >Hours</span></th>
                    <th><span >Status</span></th>
                    <th><span >Actions</span></th>
                </tr>
            </thead>
            <tbody>
				<tr style="background-color:#fcf8e3;">
					<td><a ui-sref="customer.detail({id:customer.id})"></a>1</td>
					<td>12-2-2015</td>
					<td>40</td>
					<td>
					<span style="background-color:#fcf8e3;border:1px solid #66512c;padding:5px;border-radius:3px;" >Pending</span>
					</td>
					<td>

						<button type="submit" ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
					</td>
				</tr>
						<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>2</td>
					<td>12-2-2015</td>
					<td>0</td>
					<td>Holiday</td>
					<td>

						<button type="submit" ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
					</td>
				</tr>
						<tr style="background-color:#FF7979;">
					<td><a ui-sref="customer.detail({id:customer.id})"></a>3</td>
					<td>12-2-2015</td>
					<td>40</td>
					<td >
					<span style="background-color:#FF7979;border:1px solid #F11111;padding:5px;border-radius:3px;">
					Not Approved
					</span>
					
					</td>
					<td>

						<button type="submit" ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
					</td>
				</tr>
				
			</tbody>
        </table> -->
    </div>
    



</div>
<!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->



 



