
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTb_departmentLabel" translate="timesheetApp.tb_department.home.createOrEditLabel">Create or edit a Tb_department</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tb_department.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_department.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="tb_department.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_department.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="tb_department.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_department.created_on" for="field_created_on">Created_on</label>
            <input type="datetime-local" class="form-control" name="created_on" id="field_created_on"
                    ng-model="tb_department.created_on"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_department.created_by" for="field_created_by">Created_by</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                    ng-model="tb_department.created_by"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_department.modified_on" for="field_modified_on">Modified_on</label>
            <input type="datetime-local" class="form-control" name="modified_on" id="field_modified_on"
                    ng-model="tb_department.modified_on"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_department.modified_by" for="field_modified_by">Modified_by</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                    ng-model="tb_department.modified_by"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
