
<div>
    <h2><span translate="timesheetApp.tb_department.detail.title">Tb_department</span> {{tb_department.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_department.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_department.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_department.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_department.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_department.created_on">Created_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_department.created_on | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_department.created_by">Created_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_department.created_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_department.modified_on">Modified_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_department.modified_on | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_department.modified_by">Modified_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_department.modified_by}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
