<div>
    <h2 translate="timesheetApp.tb_department.home.title">Tb_departments</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tb_department.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="timesheetApp.tb_department.home.createLabel">Create new Tb_department
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="timesheetApp.tb_department.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="timesheetApp.tb_department.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_on"><span translate="timesheetApp.tb_department.created_on">Created_on</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_by"><span translate="timesheetApp.tb_department.created_by">Created_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified_on"><span translate="timesheetApp.tb_department.modified_on">Modified_on</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified_by"><span translate="timesheetApp.tb_department.modified_by">Modified_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tb_department in tb_departments track by tb_department.id">
                    <td><a ui-sref="tb_department.detail({id:tb_department.id})">{{tb_department.id}}</a></td>
                    <td>{{tb_department.name}}</td>
                    <td>{{tb_department.description}}</td>
                    <td>{{tb_department.created_on | date:'medium'}}</td>
                    <td>{{tb_department.created_by}}</td>
                    <td>{{tb_department.modified_on | date:'medium'}}</td>
                    <td>{{tb_department.modified_by}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tb_department.detail({id:tb_department.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb_department.edit({id:tb_department.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb_department.delete({id:tb_department.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
