<div style="width: 100%; margin-bottom: 5px;" class="well">
	<span style="height: auto; font-weight: 600; font-size: 14px;">DashBoard</span>
</div>
<div
	style="width: 100%; height: auto; float: left; padding: 19px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);">
	<div class="panel panel-default" id="tabs-panel"
		style="border: none; height: auto; width: 100%;">
		<tabset class="panel-body"> <tab heading="Client">
		<div class="table-responsive"
			style="width: 100%; float: left; border: none; padding: 15px;">

			<table datatable="" class="row-border hover"
				style="border: none; width: 100%;">
				<thead>
					<tr>
						<th><span>Sr No.</span></th>
						<th><span>Client Id</span></th>
						<th><span>Name</span></th>
						<th><span>Status</span></th>
						<th><span>Actions</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a ui-sref="customer.detail({id:customer.id})"></a>1</td>
						<td>1</td>
						<td>KB</td>
						<td><span>Pending</span></td>
						<td>
							<button type="submit" ui-sref="customer.detail({id:customer.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm" ng-click="redirectToAddProject()">Details</span>
							</button>
						</td>
					</tr>
					<tr>
						<td><a ui-sref="customer.detail({id:customer.id})"></a>2</td>
						<td>2</td>
						<td>Spider Logic</td>
						<td><span>Pending</span></td>
						<td>
							<button type="submit" ui-sref="customer.detail({id:customer.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm" ng-click="redirectToAddProject()">Details</span>
							</button>
						</td>
					</tr>
					<tr>
						<td><a ui-sref="customer.detail({id:customer.id})"></a>3</td>
						<td>3</td>
						<td>JCI</td>
					<td><span>Pending</span></td>
						<td>
							<button type="submit" ui-sref="customer.detail({id:customer.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm" ng-click="redirectToAddProject()">Details</span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</tab> <tab heading="Reportee">
		<div class="table-responsive"
			style="width: 100%; float: left; border: none; padding: 15px;">

			<table datatable="" class="row-border hover"
				style="border: none; width: 100%;">
				<thead>
					<tr>
						<th><span>Sr No.</span></th>
						<th><span>Emp Id</span></th>
						<th><span>Emp_Name</span></th>
						<th><span>Week No.</span></th>
						<th><span>Status</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a ui-sref="customer.detail({id:customer.id})"></a>1</td>
						<td>ap_4033</td>
						<td ng-click="redirectToManagerapproval()" style="color: red;">Aditi
							Padwal</td>
						<td><span>22</span></td>	
						<td><span>Pending</span></td>
					</tr>
					<tr>
						<td><a ui-sref="customer.detail({id:customer.id})"></a>2</td>
						<td>dk_4090</td>
						<td ng-click="redirectToManagerapproval()">Dhanashri Kupade</td>
						<td><span>21</span></td>	
						<td><span>Pending</span></td>
					</tr>
					<tr>
						<td><a ui-sref="customer.detail({id:customer.id})"></a>3</td>
						<td>pk_4049</td>
						<td>Prasad Kulkarni</td>
						<td><span>20</span></td>	
						<td><span>Approved</span></td>
					</tr>

				</tbody>
			</table>
		</div>
		</tab> </tabset>
	</div>
</div>








