
<form name="editForm" role="form" novalidate ng-submit="save()">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myCustomerLabel">Add Project Details</h4>
	</div>
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		<div class="form-group">
			<label for="id" translate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_customer_Name">Client
				Name</label> <input type="text" class="form-control" name="customer_Name"
				id="field_customer_Name" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_description">Project
				ID</label> <input type="text" class="form-control" name="description"
				id="field_description" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_description">Project
				Name</label> <input type="text" class="form-control" name="description"
				id="field_description" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_description">Status</label> <select
				class="form-control">
				<option value="" selected></option>
				<option value="active">Active</option>
				<option value="inactive">Inactive</option>
			</select>
		</div>

		<div class="form-group">
			<label class="control-label" for="field_description">Start
				Date</label> <input type="date" class="form-control" name="description"
				id="field_description" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_description">End Date</label>
			<input type="date" class="form-control" name="description"
				id="field_description" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_description">Description</label>
			<textarea type="text" class="form-control" name="description"
				id="field_description"></textarea>


		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
