<div style="width:100%;margin-bottom:5px;"class="well">
<span  style="height:auto;font-weight:600;font-size:14px;">DashBoard</span>
<button  class="btn btn-sm " style="font-size:15px;float:right;margin-top:-4px;display:inline;" ng-click="redirectToAddProject()">Add Project</button>
<button  class="btn btn-sm " style="font-size:15px;float:right;margin-top:-4px;display:inline;margin-right:5px;" ng-click="redirectToAddClient()">Add Client</button>

</div>

<div style="width:100%;height:auto;float:left;padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);" >
<!-- <span style="font-weight:400;font-size:14px;float:right;">Employee Name&nbsp;
<input type="text" style="width:100px;"/></span>
<span style="font-weight:400;font-size:14px;float:right;">Employee Id&nbsp;
<input type="text" style="width:100px;"/></span> -->

<div class="table-responsive" style="width:100%;float:left;">
    
    
     
      <table datatable="" class="row-border hover">
		    <thead>
		    <tr>
		        <th><span>Sr No.</span></th>
                    <th><span >Name</span></th>
                    <th><span >Address</span></th>
                    <th><span >Status</span></th>
                    <th><span >Actions</span></th>
		    </tr>
		    </thead>
		       <tbody>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>1</td>
					<td>JCI</td>
					<td>Pune</td>
					<td>
					<span style="border:none;padding:5px;border-radius:3px;" >
					      <select >
		                     <option value="" selected></option>
		 	  				 <option value="active" selected>Active</option>
		     			     <option value="inactive">Inactive</option>
			  		      </select>
					</span>
					</td>
					<td>                           
				 <button  class="btn btn-info btn-sm" style="margin-right:5px;" ng-click="redirectToProjectlist()" > 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <!-- <span class="hidden-xs hidden-sm" translate="entity.action.view"></span> -->
                                <span class="hidden-xs hidden-sm" >List of Projects</span> 
                            </button>		
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					</td>
				</tr>
						<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>2</td>
					<td>KB</td>
					<td>Pune</td>
					<td>
					<span style="border:none;padding:5px;border-radius:3px;" >
					      <select >
		                     <option value="" selected></option>
		 	  				 <option value="active" selected>Active</option>
		     			     <option value="inactive">Inactive</option>
			  		      </select>
					</span></td>
					<td>
                      <button  class="btn btn-info btn-sm" style="margin-right:5px;" ng-click="redirectToProjectlist()" > 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <!-- <span class="hidden-xs hidden-sm" translate="entity.action.view"></span> -->
                                <span class="hidden-xs hidden-sm" >List of Projects</span> 
                            </button>	
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					</td>
				</tr>
						<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>3</td>
					<td>Spider Logic</td>
					<td>Banglore</td>
					<td >
					<span style="border:none;padding:5px;border-radius:3px;">
					<select >
		                     <option value="" selected></option>
		 	  				 <option value="active">Active</option>
		     			     <option value="inactive" selected>Inactive</option>
			  		</select>
					</span>
					
					</td>
					<td>
						  <button  class="btn btn-info btn-sm" style="margin-right:5px;" ng-click="redirectToProjectlist()"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <!-- <span class="hidden-xs hidden-sm" translate="entity.action.view"></span> -->
                                <span class="hidden-xs hidden-sm" >List of Projects</span> 
                            </button>	
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					</td>
				</tr>
				
			</tbody>
	</table>
      
     
    </div>



</div>
<!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->



 



