<div style="width:100%;margin-bottom:5px;"class="well">
<span  style="height:auto;font-weight:600;font-size:16px;">List of Projects</span>
<!-- <button  class="btn btn-sm " style="font-size:15px;float:right;margin-top:-4px;display:inline;" ng-click="redirectToAddProject()">Add Project</button>
<button  class="btn btn-sm " style="font-size:15px;float:right;margin-top:-4px;display:inline;margin-right:5px;" ng-click="redirectToAddClient()">Add Client</button> -->

</div>

<div style="width:100%;height:auto;float:left;padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);" >
<!-- <span style="font-weight:400;font-size:14px;float:right;">Employee Name&nbsp;
<input type="text" style="width:100px;"/></span>
<span style="font-weight:400;font-size:14px;float:right;">Employee Id&nbsp;
<input type="text" style="width:100px;"/></span> -->

<div class="table-responsive" style="width:100%;float:left;">
    
    
     
      <table datatable="" class="row-border hover">
		    <thead>
		    <tr>
		        <th><span>Sr No.</span></th>
                    <th><span >Name</span></th>
                    <th><span >Start Date</span></th>
                    <th><span >End Date</span></th>
                    <th><span >Status</span></th>
                    <th><span >Description</span></th>
		    </tr>
		    </thead>
		       <tbody>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>1</td>
					<td>ABC</td>
					<td>8-12-2015</td>
					<td>8-1-2016</td>
					<td>
					<span style="border:none;padding:5px;border-radius:3px;" >
					      <select >
		                     <option value="In Progress">In Progress</option>
		 	  				 <option value="active" selected>Active</option>
		     			     <option value="inactive">Inactive</option>
			  		      </select>
					</span>
					</td>
					<td>
                           <textarea type="text"></textarea>
				
					</td>
				</tr>
						<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>2</td>
					<td>XYZ</td>
					<td>8-12-2015</td>
					<td>8-7-2016</td>
					<td>
					<span style="border:none;padding:5px;border-radius:3px;" >
					      <select >
		                     <option value="In Progress"selected>In Progress</option>
		 	  				 <option value="active" >Active</option>
		     			     <option value="inactive">Inactive</option>
			  		      </select>
					</span></td>
					<td>
                         <textarea type="text"></textarea>
					</td>
				</tr>
						<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>3</td>
					<td>PQR</td>
					<td>8-12-2015</td>
					<td>8-9-2016</td>
					<td >
					<span style="border:none;padding:5px;border-radius:3px;">
					<select >
		                     <option value="In Progress"selected>In Progress</option>
		 	  				 <option value="active">Active</option>
		     			     <option value="inactive">Inactive</option>
			  		</select>
					</span>
					
					</td>
					<td>
						 <textarea type="text"></textarea>
					</td>
				</tr>
				
			</tbody>
	</table>
      
     
    </div>



</div>
<!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->



 



