
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel" >Add Timesheet</h4>
    <span>  <label>Date:</label> 
       <label>12th February 2016</label>  </span>
    </div>
    
   
    <!-- <div class>
    
    
    </div>
     -->
    <div class="modal-body"  >
   
       <!--  <div class="table-responsive" style="width:100%;float:left;margin-top:15px;"> -->
       
			    <table class="table">
			        <tr>
			            
			            <th>SrNo</th>
			            <th>Client</th>
			            <th>Project</th>
			            <th>Hours</th>
			            <th>Total Hours</th>
			            <th></th>
			        </tr>
			        <tr ng:repeat="item in invoice.items">
			            <td ><input type="number" ng:model="item.srno"class="input-mini">{{serno()}}</td>
			            <td >
			            <!-- <input type="text" ng:model="item.client"class="input-small"> -->
			            <select >
			             <option ng:model="item.client">Select</option>
			            <option ng:model="item.client">JCI</option>
			            <option ng:model="item.client">KB</option>
			            </select>
			            </td> 
			            <td>
			            <!-- input type="text" ng:model="item.project"class="input-small"> -->
			            <select>
			            <option  ng:model="item.project">Select</option>
			            <option  ng:model="item.project">PROJ_001</option>
			            <option  ng:model="item.project">PROJ_002</option>
			            </select>
			            
			            </td>      
			            <td ><input type="number" ng:model="item.hours" ng:required class="input-mini"></td>
			            <td style="text-indent:45px;">{{item.hours}}</td>
			            <td> 
			                [<a href ng:click="removeItem($index)" style="color:brown">X</a>]
			            </td>
			        </tr>
			        <tr>
			           
			            <td colspan="4"></td>
			            <td style="font-weight:bold;">Total:<span style="font-weight:normal;margin-left:7px;">{{total() }}</span></td>
			             
			        </tr>
			        <tr><td colspan="5"><button type="submit" ng-click="addItem()"
							class="btn btn-success btn-sm"  style="margin-top:5px;float:right;margin-right:-10px;margin-bottom:5px;">
							<span class="glyphicon glyphicon-plus"></span> <span
								class="hidden-xs hidden-sm">Task</span>
						</button>	</td></tr>
			        
			    </table>
       
    <!-- </div> -->

    </div><!-- --------------------
            -- Modal Body Ends Here
            -- -------------------->
    
    
    
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
