<div style="width: 100%; margin-bottom: 5px;" class="well">
	<span style="height: auto; font-weight: 600; font-size: 16px;">List
		of Timesheet</span> <span style="float: right;"><select
		class="form-control">
			<option value="" selected>Last seven days</option>
			<option value="last month">Last Month</option>
	</select></span>
</div>
<div
	style="width: 100%; height: auto; float: left; padding: 19px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);">
	<div class="table-responsive" style="width: 100%; float: left;">
		<table datatable="" class="row-border hover">
			<thead>
				<tr>
					<th><span>Sr No.</span></th>
					<th><span>Date</span></th>
					<th><span>Hours</span></th>
					<th><span>Status</span></th>
					<th><span>Actions</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>1</td>
					<td>5 March 2016</td>
					<td>4 hrs</td>
					<td><span>Pending</span></td>
					<td><button type="submit"
							ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Approve</span>
						</button></td>
					
				</tr>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>2</td>
					<td>4 March 2016</td>
					<td>6 hrs</td>
					<td><span>Pending</span></td>
					<td><button type="submit"
							ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Approve</span>
						</button></td>
					
				</tr>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>3</td>
					<td>3 March 2016</td>
					<td>8 hrs</td>
					<td><span>Pending</span></td>
					<td><button type="submit"
							ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Approve</span>
						</button></td>
					
				</tr>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>4</td>
					<td>2 March 2016</td>
					<td>9 hrs</td>
					<td><span>Pending</span></td>
					<td><button type="submit"
							ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Approve</span>
						</button></td>
					
				</tr>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>5</td>
					<td>1 March 2016</td>
					<td>10 hrs</td>
					<td><span>Pending</span></td>
					<td><button type="submit"
							ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Approve</span>
						</button></td>
					
				</tr>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>6</td>
					<td>29 Feb 2016</td>
					<td>14 hrs</td>
					<td><span>Approved</span></td>
					<td><button type="submit"
							ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm" style="background-color:green;">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Approved</span>
						</button></td>
					
				</tr>
				<tr>
					<td><a ui-sref="customer.detail({id:customer.id})"></a>7</td>
					<td>28 Feb 2016</td>
					<td>9 hrs</td>
					<td><span>Approved</span></td>
					<td><button type="submit"
							ui-sref="customer.detail({id:customer.id})"
							class="btn btn-info btn-sm">
							<span class="glyphicon glyphicon-eye-open"></span> <span
								class="hidden-xs hidden-sm">Details</span>
						</button>
					
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm">Edit</span>
						</button>
						<button type="submit" ui-sref="customer.edit({id:customer.id})"
							class="btn btn-primary btn-sm" style="background-color:green;">
							<span class="glyphicon glyphicon-pencil"></span> <span
								class="hidden-xs hidden-sm" >Approved</span>
						</button></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>







