
<div>
    <h2><span translate="timesheetApp.tb_timesheet.detail.title">Tb_timesheet</span> {{tb_timesheet.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.dateoftimesheet">Dateoftimesheet</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.dateoftimesheet | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.workinghours">Workinghours</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.workinghours}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.billablehours">Billablehours</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.billablehours}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.shift">Shift</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.shift}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.created_on">Created_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.created_on | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.created_by">Created_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.created_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.approvaldate">Approvaldate</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.approvaldate | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.remark">Remark</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.remark}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.weekno">Weekno</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.weekno}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.modified_on">Modified_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.modified_on | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.modified_by">Modified_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_timesheet.modified_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_timesheet.employee">employee</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tb_employee.detail({id:tb_timesheet.employee.id})">{{tb_timesheet.employee.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
