
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTb_timesheetLabel" translate="timesheetApp.tb_timesheet.home.createOrEditLabel">Create or edit a Tb_timesheet</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tb_timesheet.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="tb_timesheet.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.dateoftimesheet" for="field_dateoftimesheet">Dateoftimesheet</label>
                <div class="input-group">
                    <input id="field_dateoftimesheet" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="tb_timesheet.dateoftimesheet" is-open="datePickerForDateoftimesheet.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForDateoftimesheetOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.workinghours" for="field_workinghours">Workinghours</label>
            <input type="number" class="form-control" name="workinghours" id="field_workinghours"
                    ng-model="tb_timesheet.workinghours"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.billablehours" for="field_billablehours">Billablehours</label>
            <input type="number" class="form-control" name="billablehours" id="field_billablehours"
                    ng-model="tb_timesheet.billablehours"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.shift" for="field_shift">Shift</label>
            <input type="text" class="form-control" name="shift" id="field_shift"
                    ng-model="tb_timesheet.shift"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.created_on" for="field_created_on">Created_on</label>
                <div class="input-group">
                    <input id="field_created_on" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="tb_timesheet.created_on" is-open="datePickerForCreated_on.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForCreated_onOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.created_by" for="field_created_by">Created_by</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                    ng-model="tb_timesheet.created_by"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.approvaldate" for="field_approvaldate">Approvaldate</label>
                <div class="input-group">
                    <input id="field_approvaldate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="tb_timesheet.approvaldate" is-open="datePickerForApprovaldate.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForApprovaldateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="tb_timesheet.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="tb_timesheet.remark"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.weekno" for="field_weekno">Weekno</label>
            <input type="number" class="form-control" name="weekno" id="field_weekno"
                    ng-model="tb_timesheet.weekno"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.modified_on" for="field_modified_on">Modified_on</label>
                <div class="input-group">
                    <input id="field_modified_on" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="tb_timesheet.modified_on" is-open="datePickerForModified_on.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForModified_onOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_timesheet.modified_by" for="field_modified_by">Modified_by</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                    ng-model="tb_timesheet.modified_by"
                     />
        </div>

        <div class="form-group">
            <label translate="timesheetApp.tb_timesheet.employee" for="field_employee">employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="tb_timesheet.employee" ng-options="tb_employee as tb_employee.id for tb_employee in tb_employees track by tb_employee.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
