<div>
    <h2 translate="timesheetApp.tb_timesheet.home.title">Tb_timesheets</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tb_timesheet.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="timesheetApp.tb_timesheet.home.createLabel">Create new Tb_timesheet
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="timesheetApp.tb_timesheet.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateoftimesheet"><span translate="timesheetApp.tb_timesheet.dateoftimesheet">Dateoftimesheet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workinghours"><span translate="timesheetApp.tb_timesheet.workinghours">Workinghours</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="billablehours"><span translate="timesheetApp.tb_timesheet.billablehours">Billablehours</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shift"><span translate="timesheetApp.tb_timesheet.shift">Shift</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_on"><span translate="timesheetApp.tb_timesheet.created_on">Created_on</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_by"><span translate="timesheetApp.tb_timesheet.created_by">Created_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="approvaldate"><span translate="timesheetApp.tb_timesheet.approvaldate">Approvaldate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="timesheetApp.tb_timesheet.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span translate="timesheetApp.tb_timesheet.remark">Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weekno"><span translate="timesheetApp.tb_timesheet.weekno">Weekno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified_on"><span translate="timesheetApp.tb_timesheet.modified_on">Modified_on</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified_by"><span translate="timesheetApp.tb_timesheet.modified_by">Modified_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="employee.id"><span translate="timesheetApp.tb_timesheet.employee">employee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tb_timesheet in tb_timesheets track by tb_timesheet.id">
                    <td><a ui-sref="tb_timesheet.detail({id:tb_timesheet.id})">{{tb_timesheet.id}}</a></td>
                    <td>{{tb_timesheet.name}}</td>
                        <td>{{tb_timesheet.dateoftimesheet | date:'mediumDate'}}</td>
                    <td>{{tb_timesheet.workinghours}}</td>
                    <td>{{tb_timesheet.billablehours}}</td>
                    <td>{{tb_timesheet.shift}}</td>
                        <td>{{tb_timesheet.created_on | date:'mediumDate'}}</td>
                    <td>{{tb_timesheet.created_by}}</td>
                        <td>{{tb_timesheet.approvaldate | date:'mediumDate'}}</td>
                    <td>{{tb_timesheet.status}}</td>
                    <td>{{tb_timesheet.remark}}</td>
                    <td>{{tb_timesheet.weekno}}</td>
                        <td>{{tb_timesheet.modified_on | date:'mediumDate'}}</td>
                    <td>{{tb_timesheet.modified_by}}</td>
                    <td>
                        <a ui-sref="tb_employee.detail({id:tb_timesheet.employee.id})">{{tb_timesheet.employee.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tb_timesheet.detail({id:tb_timesheet.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb_timesheet.edit({id:tb_timesheet.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb_timesheet.delete({id:tb_timesheet.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
