<div>
    <h2 translate="user-management.home.title">Users</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <button class="btn btn-primary" ui-sref="user-management.new">
                  <span class="glyphicon glyphicon-flash"></span> <span translate="user-management.home.createLabel">Create a new User</span>
              </button>
          </div>
        </div>
    </div>
    <div class="table-responsive" style="width:100%;float:left; border:none;margin-top:20px;">
        <table datatable="" class="jh-table table table-striped"><!-- class="table table-striped" -->
            <thead>
              <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                <th jh-sort-by="id" translate="global.field.id">ID <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="login"translate="user-management.login">Login <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email" translate="user-management.email">Email <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="activated" translate="user-management.activated">Activated <span class="glyphicon glyphicon-sort"></span> </th>
                <th jh-sort-by="langKey" translate="user-management.langKey">LangKey <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="profiles" translate="user-management.profiles">Profiles <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="createdDate" translate="user-management.createdDate">CreatedDate <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedBy" translate="user-management.lastModifiedBy">LastModifiedBy <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedDate" translate="user-management.lastModifiedDate">LastModifiedDate <span class="glyphicon glyphicon-sort"></span></th>
                <th><span style="margin-left:20px;margin-right:30px;">Actions</span></th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users track by user.id">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.activated"
                          translate="user-management.deactivated" style="cursor: pointer;">Deactivated</span>
                    <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.activated"
                          translate="user-management.activated" style="cursor: pointer;">Activated</span>
                </td>
                <td>{{user.langKey}}</td>
                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="user-management-detail({login:user.login})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.edit({login:user.login})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.delete({login:user.login})"
                            class="btn btn-danger btn-sm"
                            ng-disabled="currentAccount.login==user.login">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
