
<div>
    <h2><span translate="timesheetApp.tb_task.detail.title">Tb_task</span> {{tb_task.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_task.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_task.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.hours">Hours</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_task.hours}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.created_on">Created_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_task.created_on | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.created_by">Created_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_task.created_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.modified_on">Modified_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_task.modified_on | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.modified_by">Modified_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_task.modified_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.employee">employee</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tb_employee.detail({id:tb_task.employee.id})">{{tb_task.employee.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_task.project">project</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tb_project.detail({id:tb_task.project.id})">{{tb_task.project.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
