
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTb_taskLabel" translate="timesheetApp.tb_task.home.createOrEditLabel">Create or edit a Tb_task</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tb_task.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_task.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="tb_task.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_task.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="tb_task.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_task.hours" for="field_hours">Hours</label>
            <input type="number" class="form-control" name="hours" id="field_hours"
                    ng-model="tb_task.hours"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_task.created_on" for="field_created_on">Created_on</label>
            <input type="datetime-local" class="form-control" name="created_on" id="field_created_on"
                    ng-model="tb_task.created_on"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_task.created_by" for="field_created_by">Created_by</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                    ng-model="tb_task.created_by"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_task.modified_on" for="field_modified_on">Modified_on</label>
            <input type="datetime-local" class="form-control" name="modified_on" id="field_modified_on"
                    ng-model="tb_task.modified_on"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_task.modified_by" for="field_modified_by">Modified_by</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                    ng-model="tb_task.modified_by"
                     />
        </div>

        <div class="form-group">
            <label translate="timesheetApp.tb_task.employee" for="field_employee">employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="tb_task.employee" ng-options="tb_employee as tb_employee.id for tb_employee in tb_employees track by tb_employee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="timesheetApp.tb_task.project" for="field_project">project</label>
            <select class="form-control" id="field_project" name="project" ng-model="tb_task.project" ng-options="tb_project as tb_project.id for tb_project in tb_projects track by tb_project.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
