
<div>
    <h2><span translate="timesheetApp.tb_project.detail.title">Tb_project</span> {{tb_project.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.start_date">Start_date</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.start_date | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.end_date">End_date</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.end_date | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.created_on">Created_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.created_on | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.created_by">Created_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.created_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.modified_on">Modified_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.modified_on | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.modified_by">Modified_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.modified_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_project.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_project.client">client</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tb_client.detail({id:tb_project.client.id})">{{tb_project.client.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
