
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTb_projectLabel" translate="timesheetApp.tb_project.home.createOrEditLabel">Create or edit a Tb_project</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tb_project.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="tb_project.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="tb_project.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.start_date" for="field_start_date">Start_date</label>
                <div class="input-group">
                    <input id="field_start_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="tb_project.start_date" is-open="datePickerForStart_date.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForStart_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.end_date" for="field_end_date">End_date</label>
                <div class="input-group">
                    <input id="field_end_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="tb_project.end_date" is-open="datePickerForEnd_date.status.opened"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForEnd_dateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.created_on" for="field_created_on">Created_on</label>
            <input type="datetime-local" class="form-control" name="created_on" id="field_created_on"
                    ng-model="tb_project.created_on"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.created_by" for="field_created_by">Created_by</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                    ng-model="tb_project.created_by"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.modified_on" for="field_modified_on">Modified_on</label>
            <input type="datetime-local" class="form-control" name="modified_on" id="field_modified_on"
                    ng-model="tb_project.modified_on"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.modified_by" for="field_modified_by">Modified_by</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                    ng-model="tb_project.modified_by"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_project.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="tb_project.status"
                     />
        </div>

        <div class="form-group">
            <label translate="timesheetApp.tb_project.client" for="field_client">client</label>
            <select class="form-control" id="field_client" name="client" ng-model="tb_project.client" ng-options="tb_client as tb_client.id for tb_client in tb_clients track by tb_client.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
