<div>
    <h2 translate="timesheetApp.tb_project.home.title">Tb_projects</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tb_project.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="timesheetApp.tb_project.home.createLabel">Create new Tb_project
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="timesheetApp.tb_project.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="timesheetApp.tb_project.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="start_date"><span translate="timesheetApp.tb_project.start_date">Start_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="end_date"><span translate="timesheetApp.tb_project.end_date">End_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_on"><span translate="timesheetApp.tb_project.created_on">Created_on</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_by"><span translate="timesheetApp.tb_project.created_by">Created_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified_on"><span translate="timesheetApp.tb_project.modified_on">Modified_on</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified_by"><span translate="timesheetApp.tb_project.modified_by">Modified_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="timesheetApp.tb_project.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="client.id"><span translate="timesheetApp.tb_project.client">client</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tb_project in tb_projects track by tb_project.id">
                    <td><a ui-sref="tb_project.detail({id:tb_project.id})">{{tb_project.id}}</a></td>
                    <td>{{tb_project.name}}</td>
                    <td>{{tb_project.description}}</td>
                        <td>{{tb_project.start_date | date:'mediumDate'}}</td>
                        <td>{{tb_project.end_date | date:'mediumDate'}}</td>
                    <td>{{tb_project.created_on | date:'medium'}}</td>
                    <td>{{tb_project.created_by}}</td>
                    <td>{{tb_project.modified_on | date:'medium'}}</td>
                    <td>{{tb_project.modified_by}}</td>
                    <td>{{tb_project.status}}</td>
                    <td>
                        <a ui-sref="tb_client.detail({id:tb_project.client.id})">{{tb_project.client.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tb_project.detail({id:tb_project.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb_project.edit({id:tb_project.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb_project.delete({id:tb_project.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
