
<div>
    <h2><span translate="timesheetApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="timesheetApp.customer.customer_Name">Customer_Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{customer.customer_Name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.customer.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{customer.description}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
