<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>timesheet</title>
        <meta name="description" content="">
        <meta name="google" value="notranslate">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
       <link rel="stylesheet" href="bower_components/angular-ui-tabs/dist/styles/default.css" />
       <!--  <link rel="stylesheet" href="bower_components/angular-ui-tabs/src/styles/blue.less" />  -->
  
        
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="timesheetApp">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>
        <div ui-view="navbar" ng-cloak=""></div>
        <div class="container">
            <div  ui-view="content"></div>
          
        </div>
		<div class="footer well">
                <p translate="footer">Copyright@2016</p>
         </div>
        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/messageformat/messageformat.js"></script>
        <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script src="bower_components/angular-ui-tabs/src/angular-tabs.js"></script>
        
        <!-- endbower -->
        <!-- endbuild -->


    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/maxbytes.directive.js"></script>
    <script src="scripts/components/form/minbytes.directive.js"></script>
    <script src="scripts/components/form/uib-pager.config.js"></script>
    <script src="scripts/components/form/uib-pagination.config.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/interceptor/auth.interceptor.js"></script>
    <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="scripts/components/interceptor/notification.interceptor.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/util/capitalize.filter.js"></script>
    <script src="scripts/components/alert/alert.service.js"></script>
    <script src="scripts/components/alert/alert.directive.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/date-util.service.js"></script>
    <script src="scripts/components/util/data-util.service.js"></script>
    <script src="scripts/components/util/sort.directive.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/health/health.modal.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-delete-dialog.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.js"></script>
    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <script src="scripts/app/main/main.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="bower_components/messageformat/locale/en.js"></script>
    <script src="bower_components/messageformat/locale/fr.js"></script>
    <script src="scripts/components/language/language.service.js"></script>
    <script src="scripts/components/language/language.controller.js"></script>
    <script src="scripts/components/auth/services/sessions.service.js"></script>
    <script src="scripts/components/auth/provider/auth.session.service.js"></script>
    <script src="scripts/app/account/sessions/sessions.js"></script>
    <script src="scripts/app/account/sessions/sessions.controller.js"></script>
    
	<!-- --------------------------------------------------------------
   -- Employee Pages
   -- -------------------------------------------------------------->
	<script src="scripts/app/employeedetails/employeedetails.js"></script>
	<script src="scripts/app/employeedetails/employeedetails.controller.js"></script>
	<script src="scripts/app/employeedetails/timesheetdetails/timesheetdetails.js"></script>
	<script src="scripts/app/employeedetails/timesheetdetails/timesheetdetails.controller.js"></script>
	<script src="scripts/app/employeedetails/timesheetdetails/timesheetdetails-dialog.controller.js"></script>
	<!-- --------------------------------------------------------------
   -- Manager Pages
   -- -------------------------------------------------------------->
	<script src="scripts/app/managerdetails/managerdetails.js"></script>
	<script src="scripts/app/managerdetails/managerdetails.controller.js"></script>
	<script src="scripts/app/managerdetails/managerapproval/managerapproval.js"></script>
	<script src="scripts/app/managerdetails/managerapproval/managerapproval.controller.js"></script>


	<!-- --------------------------------------------------------------
   -- Admin Pages
   -- -------------------------------------------------------------->
	<script src="scripts/app/admin/clientdetails/clientdetails.js"></script>
	<script src="scripts/app/admin/clientdetails/clientdetails.controller.js"></script>
	<script src="scripts/app/admin/clientdetails/addclientdetails-dialog.controller.js"></script>
	<script src="scripts/app/admin/clientdetails/addprojectdetails-dialog.controller.js"></script>


    <!-- --------------------------------------------------------------
   -- Databases realated pages
   -- -------------------------------------------------------------->
	<script src="scripts/app/entities/customer/customer.js"></script>
    <script src="scripts/app/entities/customer/customer.controller.js"></script>
    <script src="scripts/app/entities/customer/customer-dialog.controller.js"></script>
    <script src="scripts/app/entities/customer/customer-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/customer/customer-detail.controller.js"></script>
    <script src="scripts/components/entities/customer/customer.service.js"></script>
    
    
    
    <script src="scripts/app/entities/tb_employee/tb_employee.js"></script>
    <script src="scripts/app/entities/tb_employee/tb_employee.controller.js"></script>
    <script src="scripts/app/entities/tb_employee/tb_employee-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_employee/tb_employee-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_employee/tb_employee-detail.controller.js"></script>
    <script src="scripts/components/entities/tb_employee/tb_employee.service.js"></script>
    <script src="scripts/app/entities/tb_project/tb_project.js"></script>
    <script src="scripts/app/entities/tb_project/tb_project.controller.js"></script>
    <script src="scripts/app/entities/tb_project/tb_project-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_project/tb_project-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_project/tb_project-detail.controller.js"></script>
    <script src="scripts/components/entities/tb_project/tb_project.service.js"></script>
    <script src="scripts/app/entities/tb_task/tb_task.js"></script>
    <script src="scripts/app/entities/tb_task/tb_task.controller.js"></script>
    <script src="scripts/app/entities/tb_task/tb_task-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_task/tb_task-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_task/tb_task-detail.controller.js"></script>
    <script src="scripts/components/entities/tb_task/tb_task.service.js"></script>
    <script src="scripts/app/entities/tb_client/tb_client.js"></script>
    <script src="scripts/app/entities/tb_client/tb_client.controller.js"></script>
    <script src="scripts/app/entities/tb_client/tb_client-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_client/tb_client-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_client/tb_client-detail.controller.js"></script>
    <script src="scripts/components/entities/tb_client/tb_client.service.js"></script>
    <script src="scripts/app/entities/tb_department/tb_department.js"></script>
    <script src="scripts/app/entities/tb_department/tb_department.controller.js"></script>
    <script src="scripts/app/entities/tb_department/tb_department-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_department/tb_department-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_department/tb_department-detail.controller.js"></script>
    <script src="scripts/components/entities/tb_department/tb_department.service.js"></script>
    <script src="scripts/app/entities/tb_timesheet/tb_timesheet.js"></script>
    <script src="scripts/app/entities/tb_timesheet/tb_timesheet.controller.js"></script>
    <script src="scripts/app/entities/tb_timesheet/tb_timesheet-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_timesheet/tb_timesheet-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/tb_timesheet/tb_timesheet-detail.controller.js"></script>
    <script src="scripts/components/entities/tb_timesheet/tb_timesheet.service.js"></script>
    <!-- endbuild -->
</body>
</html>
