<div>
    <h2 translate="timesheetApp.tb_employee.home.title">Tb_employees</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tb_employee.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="timesheetApp.tb_employee.home.createLabel">Create new Tb_employee
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="designation"><span translate="timesheetApp.tb_employee.designation">Designation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="onsite"><span translate="timesheetApp.tb_employee.onsite">Onsite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyname"><span translate="timesheetApp.tb_employee.companyname">Companyname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="timesheetApp.tb_employee.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supervisor_id"><span translate="timesheetApp.tb_employee.supervisor_id">Supervisor_id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_on"><span translate="timesheetApp.tb_employee.created_on">Created_on</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_by"><span translate="timesheetApp.tb_employee.created_by">Created_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified_on"><span translate="timesheetApp.tb_employee.modified_on">Modified_on</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modified_by"><span translate="timesheetApp.tb_employee.modified_by">Modified_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="timesheetApp.tb_employee.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="client.id"><span translate="timesheetApp.tb_employee.client">client</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="department.id"><span translate="timesheetApp.tb_employee.department">department</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tb_employee in tb_employees track by tb_employee.id">
                    <td><a ui-sref="tb_employee.detail({id:tb_employee.id})">{{tb_employee.id}}</a></td>
                    <td>{{tb_employee.designation}}</td>
                    <td>{{tb_employee.onsite}}</td>
                    <td>{{tb_employee.companyname}}</td>
                    <td>{{tb_employee.status}}</td>
                    <td>{{tb_employee.supervisor_id}}</td>
                    <td>{{tb_employee.created_on | date:'medium'}}</td>
                    <td>{{tb_employee.created_by}}</td>
                    <td>{{tb_employee.modified_on | date:'medium'}}</td>
                    <td>{{tb_employee.modified_by}}</td>
                    <td>
                        {{tb_employee.user.login}}
                    </td>
                    <td>
                        <a ui-sref="tb_client.detail({id:tb_employee.client.id})">{{tb_employee.client.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tb_department.detail({id:tb_employee.department.id})">{{tb_employee.department.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tb_employee.detail({id:tb_employee.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb_employee.edit({id:tb_employee.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb_employee.delete({id:tb_employee.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
