
<div>
    <h2><span translate="timesheetApp.tb_employee.detail.title">Tb_employee</span> {{tb_employee.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.designation">Designation</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.designation}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.onsite">Onsite</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.onsite}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.companyname">Companyname</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.companyname}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.supervisor_id">Supervisor_id</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.supervisor_id}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.created_on">Created_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.created_on | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.created_by">Created_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.created_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.modified_on">Modified_on</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.modified_on | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.modified_by">Modified_by</span>
                </td>
                <td>
                    <span class="form-control-static">{{tb_employee.modified_by}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.user">user</span>
                </td>
                <td>
                    {{tb_employee.user.login}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.project">project</span>
                </td>
                <td>
                    <span ng-repeat="project in tb_employee.projects">
                        <a class="form-control-static" ui-sref="tb_project.detail({id: {{project.id}}})">{{project.id}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.client">client</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tb_client.detail({id:tb_employee.client.id})">{{tb_employee.client.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="timesheetApp.tb_employee.department">department</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="tb_department.detail({id:tb_employee.department.id})">{{tb_employee.department.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
