
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTb_employeeLabel" translate="timesheetApp.tb_employee.home.createOrEditLabel">Create or edit a Tb_employee</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tb_employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="tb_employee.designation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.onsite" for="field_onsite">Onsite</label>
            <input type="checkbox" class="form-control" name="onsite" id="field_onsite"
                    ng-model="tb_employee.onsite"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.companyname" for="field_companyname">Companyname</label>
            <input type="text" class="form-control" name="companyname" id="field_companyname"
                    ng-model="tb_employee.companyname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="tb_employee.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.supervisor_id" for="field_supervisor_id">Supervisor_id</label>
            <input type="number" class="form-control" name="supervisor_id" id="field_supervisor_id"
                    ng-model="tb_employee.supervisor_id"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.created_on" for="field_created_on">Created_on</label>
            <input type="datetime-local" class="form-control" name="created_on" id="field_created_on"
                    ng-model="tb_employee.created_on"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.created_by" for="field_created_by">Created_by</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                    ng-model="tb_employee.created_by"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.modified_on" for="field_modified_on">Modified_on</label>
            <input type="datetime-local" class="form-control" name="modified_on" id="field_modified_on"
                    ng-model="tb_employee.modified_on"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="timesheetApp.tb_employee.modified_by" for="field_modified_by">Modified_by</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                    ng-model="tb_employee.modified_by"
                     />
        </div>

        <div class="form-group">
            <label translate="timesheetApp.tb_employee.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="tb_employee.user" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="timesheetApp.tb_employee.project" for="field_project">project</label>
            <select class="form-control" id="field_project" multiple name="project" ng-model="tb_employee.projects" ng-options="tb_project as tb_project.id for tb_project in tb_projects track by tb_project.id"></select>
        </div>
        <div class="form-group">
            <label translate="timesheetApp.tb_employee.client" for="field_client">client</label>
            <select class="form-control" id="field_client" name="client" ng-model="tb_employee.client" ng-options="tb_client as tb_client.id for tb_client in tb_clients track by tb_client.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="timesheetApp.tb_employee.department" for="field_department">department</label>
            <select class="form-control" id="field_department" name="department" ng-model="tb_employee.department" ng-options="tb_department as tb_department.id for tb_department in tb_departments track by tb_department.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
